@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper {
  padding: 20px 0;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #fff;
}

.body {
  font-family: "Open Sans", sans-serif;
}
